.wrapper {
    height: 710px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative
}

.row {
    height: 100%;
}

.img {
    position: absolute;
    top: 0
}

.col9 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(113.94% 113.94% at 50.06% -13.94%, #38A3A2 17.04%, #10605D 100%);
}

.col15 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.welcome {
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.description {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button {
    width: 50%;
    padding: 10px;
    color: white;
    background-color: #38A3A2;
    border-radius: 20px;
    border: 1px solid white;
}

.title {
    color: #38AA95;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}